@media only screen and(max-width:600px){
    .me{
        margin: 0;
        
        background-color: red;
        font-family: sans-serif;
        background-size:initial;
        background-position:0vmin;
        background-size:cover;
        background-position:center;
        height: 100%;
        width: 100%;
    }
    }
    .logo{
        margin-top: -0.5%;
        float: left;
        margin-left: 5%;    
    
    }
    .btn1 input{
        
        background-color: #37474F;
        text-align: center;
        color: white;
        font-size: 25px;
        margin-left: 90%;
        width: 8%;
        margin-top: -5.5%;
        border-radius: 8px;
    }
    .copy{
    margin-top: 36.5%;
    margin-left: 5%;
    font-size: 16.0px;
    font-weight: 400;
    color: #37474F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
           
    .list1 ul{
        margin-top: -5.5%;
        float: right;
        margin-right: 2%;
        font-family: Segoe UI black;
        font-size: 16.0px;
    
        text-align: right;
        
        color: #37474F;
        padding: 0.1px;
      }
       .list1 li{
           display: inline;
           margin-top: 10%;
                          }
    
    .box{
        width: 500px;
        height: 400px;
        background: lightgray;
        color: blue;
        top: 50%;
        left: 30%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        border-radius: 10%;
        padding: 20px 30px;
        margin: auto;
        font-size: 20px;
    }
    h1{
        margin-left: 25%;
        font-weight: 10;
        margin-top: 5%;
        font-size: 50px;
        color: #37474F;
    }
    .box h2 input{
        margin-left: 5%;
        font-weight: 10;
        margin-top: -3%;
        font-size: 15px;
        width: 45%;
        color: #37474F;
        height: 13%;
        border-radius: 5px;
    }
    .box h3 input{
        margin-left: 52%;
        font-weight: 10;
        margin-top: -16.3%;
        font-size: 15px;
        width: 45%;
        color: #37474F;
        height: 13%;
        border-radius: 5px;
    }
    .box h4 input{
        margin-left: 5%;
        font-weight: 10;
        margin-top: -7%;
        font-size: 15px;
        width: 92%;
        color: #37474F;
        height: 13%;
        border-radius: 5px;
    }
    .box h5 input{
        margin-left: 5%;
        font-weight: 10;
        margin-top: -3%;
        font-size: 15px;
        width: 92%;
        color: #37474F;
        height: 13%;
        border-radius: 5px;
    }
    .box h6 input{
        margin-left: 35%;
        font-weight: 10;
        margin-top: -3%;
        font-size: 18px;
        width: 25%;
        background-color: #37474F;
        height: 10%;
        color: white;
        border-radius: 7px;
    }
    .box h6 input:hover{
        background-color:orangered;
        color:#000;
        }

    .box1{
        width: 500px;
        height: 400px;
        background: lightgray;
        color: blue;
        top: 50%;
        left: 70%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        border-radius: 10%;
        padding: 20px 30px;
        margin: auto;
        font-size: 20px;
    }
    .box1 h1{
        margin-left: 10%;
        font-weight: 10;
        margin-top: 5%;
        font-size: 50px;
        color: #37474F;
    }
    
    ul li a:hover{
        background-color:#fff;
        color:#000;
        }
        .btn1 input:hover{
            background-color:#fff;
            color:#000;
            }
            .box1 h2 input{
                margin-left: 5%;
                font-weight: 10;
                margin-top: -2%;
                font-size: 15px;
                width: 92%;
                color: #37474F;
                height: 13%;
                border-radius: 5px;
            }
            .box1 h3 input{
                margin-left: 5%;
                font-weight: 10;
                margin-top: -1.5%;
                font-size: 15px;
                width: 92%;
                color: #37474F;
                height: 13%;
                border-radius: 5px;
            }
            .box1 h4 input{
                margin-left: 5%;
                font-weight: 10;
                margin-top: -1.5%;
                font-size: 15px;
                width: 92%;
                color: #37474F;
                height: 13%;

            
                border-radius: 5px;
            }
            .box1 h5 input{
                margin-left: 35%;
                font-weight: 10;
                margin-top: -3%;
                font-size: 18px;
                width: 25%;
                background-color: #37474F;
                height: 10%;
                color: white;
                border-radius: 7px;
            }
            .box1 h5 input:hover{
                background-color:orangered;
                color:#000;
                }
        