
            @media only screen and(max-width:600px){
            .me{
                margin: 0;
                padding: 0;
                background-color: white;
                font-family: sans-serif;
                background-size:initial;
                background-position:0vmin;
                background-size:cover;
                background-position:center;
                height: 100%;
                width: 100%;

            }
            }
            .fimage{
                    height: 539.0px;
                    width: 539.00000000002px;

                    float: right;
                    margin-right: 5%;
                    margin-top: -8%;
            }
            .logo img{
                float: left;
                max-height: 250px;
                max-width: 250px;
                margin-left: 65px;
                margin-top: -10%;
                color: orangered;
                }
           
            .log1{
                color: orangered;
                margin-top: 2%;
                margin-left: 9%;
                font-size: 45px;
                font-style:inherit ;
                font-family: Impact, Haettenschweiler, sans-serif;
            }
            .feature{
                margin-top: 10%;
                color: #37474F;
                width: 541.0px;
                height: 138px;
                font-size: 48.0px;

                margin-left: 5%;
                font-family: Segoe UI Black;
            }
            .price{
                margin-top:0%;
                color: black;
                font-size: 25px;
                margin-left: 5%;
                font-family:Segoe UI;
            }
                .btn input{
                    margin-top: 2%;
                    background-color: orangered;
                    text-align: center;
                    color: whitesmoke;
                    font-size: 25px;
                    margin-left: 5%;
                    width: 10%;
                    border-radius: 8px;
                }
                .btn1 input{
                    margin-top: -40%;
                    background-color: #37474F;
                    text-align: center;
                    color: whitesmoke;
                    font-size: 25px;
                    margin-left: 90%;
                    width: 8%;
                    
                    border-radius: 8px;
                }
                
                input:hover{
                    background-color: blue;
                    border-style: ridge;
                }
                ul li a:hover{
                    background-color:#fff;
                    color:#000;
                    }
                    .btn2:hover{
                        background-color:#fff;
                        color:#000;
                        }
                   
                 .list1 ul{
                margin-top: -5%;
                float: right;
                margin-right: 2%;
                font-family: Segoe UI black;
                font-size: 16.0px;
            
                text-align: right;
                
                color: #37474F;
                padding: 0.1px;
              }
               .list1 li{
                   display: inline;
                   margin-top: 10%;
                                  }
            .copy{
                margin-top: 1%;
                margin-left: 5%;
                font-size: 16.0px;
                font-weight: 400;
                color: #37474F;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .bottom{
                margin-bottom: 0%;
            }

            .price img{
                margin-top: 0%;
                background-color: whitesmoke;
            }
                
             button{
                border: none;
                outline: none;
                height: 40px;
                background: green;
                color: white;
                font-weight: bold;
                font-size: 20px;
                width: 40%;
                border-radius: 5%;
             }
             button:hover{
                cursor: pointer;
                background: gray;
                color: black;
            }
            